input {
  color: blue;
}

.input {
  color: purple;
}


.cf { clear: both; }
.cf::after { background-color: purple; }

.input-prefix {
  color: red;
}

.bar .foo input {
  color: green;
}

input[type="text"],
input[type="email"] {
  color: tomato;
}

#foo.bar.baz,
#hello #foo.bar.baz,
#foo.baz.bar {
  color: hotpink;
}
